<nav class="navbar navbar-expand-sm bg-light navbar-light" id="navbar">
    <link href="css/index.css" rel="stylesheet">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="twice" >Twice</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills">
              <li class="nav-item">
                  <a class="nav-link" href="/" id="homebartext">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/md" id="mdatabasebartext">Membership Database</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vd" id="vdatabasebartext">Voting Database</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about" id="idolbartext">About Idol</a>
              </li>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  Dischography
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/kalbum">Korean Albums</a></li>
                  <li><a class="dropdown-item" href="/jalbum">Japanese Albums</a></li>
                </ul>
              </div>
              <li class="nav-item">
                  <a class="nav-link" href="/addMembership" id="membershipbartext">Add Membership</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/addVoting" id="votingbartext">Add Voting</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact" id="contactbartext">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto" id="signuploginbutton">
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 