#h1{color: #A22CDB;
    font-family: "Copperplate", fantasy;
    text-align: center;
  }
  
#mainbackground{ background-color:pink;}

#vdatabasebartext{ color: pink;
    font-family: "Georgia", serif;}